@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  position: relative;
  background-color: #00DDAA;
  box-sizing: border-box;
  border-top: solid 30px #116584;
  border-bottom: solid 30px #116584;
  overflow: hidden;
}

.Top {
  position: absolute;
  height: 320px;
  width: 320px;
  background-color: #3e6e7f;
  color: #ffffff;
  border-radius: 30px 30px 225px 30px;
  margin-top: -100px;
  margin-left: -75px;
  font-family: 'Indie Flower', cursive;
}
.Top h3 {
  margin-left: 90px;
  margin-top: 95px;
  font-size: 45px;
  width: 100px;
  line-height: 50px;
}
.Top h3 span {
  font-size: 25px;
  margin-left: 9px;
}

.heart {
  position: relative;
  width: 20px;
  height: 100px;
  margin: 60px auto;
  animation: pulse 1.5s ease-out;
  animation-iteration-count: infinite;
}
.heart:before, .heart:after {
  position: absolute;
  content: "";
  left: 20px;
  top: 0;
  border-top: 10px #CF2E3B solid;
  width: 20px;
  height: 30px;
  background: #CF2E3B;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  box-shadow: 2px 0px 1px #3d0e11;
}
.heart:before {
  box-shadow: 2px 2px 1px #3d0e11;
}

@keyframes pulse {
  0% {
    transform: scale(2);
  }
  25% {
    transform: scale(1.9);
  }
  50% {
    transform: scale(2.1);
  }
  75% {
    transform: scale(2);
  }
  100% {
    transform: scale(2);
  }
}
.screen {
  width: 100%;
  height: 100%;
  left: 100%;
}

.namecard {
  position: fixed;
  width: 300px;
  height: 200px;
  left: 50%;
  top: 50%;
  padding: 0px 20px 30px 20px;
  overflow: hidden;
  background-color: #116584;
  color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.15);
  box-shadow: 20px 25px 15px -15px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  font-family: 微軟正黑體;
  transition: 0.5s;
}
.namecard hr {
  border-color: #fff;
  margin-top: -15px;
  margin-bottom: 20px;
}
.namecard h2 {
  font-size: 25px;
}
.namecard span {
  font-size: 18px;
}
.namecard h5 {
  font-size: 16px;
  font-weight: 400;
}

.namecard:hover {
  transform: translate(-50px, -50px);
  box-shadow: -20px -25px 15px -15px rgba(0, 0, 0, 0.5);
}

.allbub {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  z-index: -3;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #333;
}
@keyframes falling {
  0%,100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    transform: translate(100%, 0px);
  }
  100% {
    transform: translate(0px, 100%);
  }
}
.allbub [class*='bub'] {
  background-color: #fff;
  width: 2px;
  height: 50px;
  border-radius: 15px;
  animation: falling 2s infinite;
}
.allbub .bub1 {
  position: absolute;
  left: 8.756717074%;
  top: 42.1483127033%;
  animation-delay: -0.1s;
}
.allbub .bub2 {
  position: absolute;
  left: 66.8477566003%;
  top: -7.4387752601%;
  animation-delay: -0.2s;
}
.allbub .bub3 {
  position: absolute;
  left: 8.9481269781%;
  top: 50.6266872493%;
  animation-delay: -0.3s;
}
.allbub .bub4 {
  position: absolute;
  left: 12.0360436368%;
  top: 15.0035069779%;
  animation-delay: -0.4s;
}
.allbub .bub5 {
  position: absolute;
  left: 99.8170848494%;
  top: 51.275681845%;
  animation-delay: -0.5s;
}
.allbub .bub6 {
  position: absolute;
  left: 95.1678141635%;
  top: 61.081682315%;
  animation-delay: -0.6s;
}
.allbub .bub7 {
  position: absolute;
  left: 8.4357148681%;
  top: -0.1903349727%;
  animation-delay: -0.7s;
}
.allbub .bub8 {
  position: absolute;
  left: 46.6335360458%;
  top: 58.7412183403%;
  animation-delay: -0.8s;
}
.allbub .bub9 {
  position: absolute;
  left: 98.2130021895%;
  top: 34.0273481943%;
  animation-delay: -0.9s;
}
.allbub .bub10 {
  position: absolute;
  left: 93.1282982097%;
  top: 24.1510083939%;
  animation-delay: -1s;
}
.allbub .bub11 {
  position: absolute;
  left: 27.9178461643%;
  top: 66.1909429963%;
  animation-delay: -1.1s;
}
.allbub .bub12 {
  position: absolute;
  left: 2.4073241817%;
  top: -1.2108618758%;
  animation-delay: -1.2s;
}
.allbub .bub13 {
  position: absolute;
  left: 95.8486937024%;
  top: 9.4496666015%;
  animation-delay: -1.3s;
}
.allbub .bub14 {
  position: absolute;
  left: 45.5051911791%;
  top: 55.8788303822%;
  animation-delay: -1.4s;
}
.allbub .bub15 {
  position: absolute;
  left: 91.8030618003%;
  top: 79.4607308993%;
  animation-delay: -1.5s;
}
.allbub .bub16 {
  position: absolute;
  left: 72.8188668178%;
  top: 24.9129426258%;
  animation-delay: -1.6s;
}
.allbub .bub17 {
  position: absolute;
  left: 50.8727487355%;
  top: -3.9406666441%;
  animation-delay: -1.7s;
}
.allbub .bub18 {
  position: absolute;
  left: 10.777567715%;
  top: 2.4557316387%;
  animation-delay: -1.8s;
}
.allbub .bub19 {
  position: absolute;
  left: 82.1962035309%;
  top: 16.1404011794%;
  animation-delay: -1.9s;
}
.allbub .bub20 {
  position: absolute;
  left: 37.9499204284%;
  top: 88.3909523287%;
  animation-delay: -2s;
}
.allbub .bub21 {
  position: absolute;
  left: 44.5854762385%;
  top: 27.9799632992%;
  animation-delay: -2.1s;
}
.allbub .bub22 {
  position: absolute;
  left: 69.550501506%;
  top: 16.1826878769%;
  animation-delay: -2.2s;
}
.allbub .bub23 {
  position: absolute;
  left: 0.8154425159%;
  top: 49.6930139038%;
  animation-delay: -2.3s;
}
.allbub .bub24 {
  position: absolute;
  left: 73.2196664456%;
  top: 73.52939829%;
  animation-delay: -2.4s;
}
.allbub .bub25 {
  position: absolute;
  left: 41.9713022737%;
  top: -7.9561003912%;
  animation-delay: -2.5s;
}
.allbub .bub26 {
  position: absolute;
  left: 91.2286284548%;
  top: 48.8278361063%;
  animation-delay: -2.6s;
}
.allbub .bub27 {
  position: absolute;
  left: 82.6140511134%;
  top: 44.1383515646%;
  animation-delay: -2.7s;
}
.allbub .bub28 {
  position: absolute;
  left: 58.8160255292%;
  top: 59.2915012692%;
  animation-delay: -2.8s;
}
.allbub .bub29 {
  position: absolute;
  left: 83.6647327468%;
  top: 8.460407727%;
  animation-delay: -2.9s;
}
.allbub .bub30 {
  position: absolute;
  left: 35.1771327546%;
  top: 15.9148211743%;
  animation-delay: -3s;
}

@keyframes back {
  0% {
    background-color: lightblue;
  }
  25% {
    background-color: aquamarine;
  }
  50% {
    background-color: #fff68f;
  }
  75% {
    background-color: #ffc1c1;
  }
  100% {
    background-color: lightsalmon;
  }
}
.allbub {
  animation: back 8s infinite;
}

@keyframes title {
  0% {
    margin-top: -200px;
    margin-left: -300px;
  }
  50% {
    margin-top: -75px;
    margin-left: -50px;
  }
  100% {
    margin-top: -100px;
    margin-left: -75px;
  }
}
.Top {
  animation: title 3s;
}

.oval {
  margin-top: -500px;
  margin-left: 300px;
  width: 250px;
  height: 120px;
  background: #40E0D0;
  border-radius: 200px 200px 0 0;
  transform: scaleY(0.6);
}

.oval2 {
  margin-top: -35px;
  margin-left: 300px;
  width: 250px;
  height: 25px;
  background-color: #E0FFFF;
  border-radius: 50%;
}

.oval3 {
  margin-top: -85px;
  margin-left: 420px;
  width: 10px;
  height: 288px;
  background-color: #BEBEBE;
}

.oval4 {
  margin-top: -310px;
  margin-left: 388px;
  width: 76px;
  height: 20px;
  background-color: #BEBEBE;
  border-radius: 76px 76px 0 0;
  transform: scaleX(0.1);
}

.oval5 {
  margin-top: 270px;
  margin-left: 368px;
  box-sizing: border-box;
  width: 64px;
  height: 40px;
  border: 16px solid #E0FFFF;
  border-radius: 0 0 40px 40px;
  border-top: none;
}
